

/* Conteúdo principal */

/* Primeiro banner */
.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /* overflow: hidden;  evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab;
    color: var(--branco);
    /* cursor: pointer; */
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* Título das seções */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* Seção Benefícios */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);
    gap: 10%;

    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;/* cima - direita e esquerda - embaixo */

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);/* x - y - blur - cor com transparência */

    text-align: center;
    /* Cria referência de posicionamento para o ícone, quando o ícone for posicionado, usa esse card como referência */

    /* sem isso, o círculo poderia usar outro elemento da página como referência e sair passeando pelo layout. */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o ícone do fluxo normal, com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* Move o círculo para cima, o valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo do elemento em 50% da largura do card */
    left: 50%;

    /* Ajustamoos o posicionamento do elemento, mas a borda esquerda do círculo fica no centro, não o círculo inteiro */
    /* por isso usamos transform: translateX(-50%); que move o próprio círculo para a esquerda em 50% da largura dele, fazendo com que o círculo fique perfeitamente centralizado. */
    transform: translateX(-50%);

    display: grid;
    place-items: center;

    /* place-items: center; é a mesma coisa que colocar align-items: center e justify-items: center; */
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

/* Banner meio */
.banner-meio {
    height: 60vh;
    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);

    margin-bottom: 50px;
}

.top-livros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;

    padding: 50px 120px;
}

.colecao-livros {
    padding-bottom: 50px;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    gap: 5%;
}

.livro-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.livros {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.livros img {
    height: 300px;
}

.livros h3 {
    text-transform: uppercase;
    width: 170px;
    display: grid;
    align-items: center;
    margin: 20px 0 20px;
}


footer {
    background-color: var(--azul-escuro);
    height: 40vh;
    padding: 100px 120px 50px;
}

.geral {
    display: flex;
    justify-content: space-between;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informacoes {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 100px;
    margin-right: 50px;
}

.informacoes h4 {
    color: var(--cor-destaque);
}


.informacoes nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacoes nav h4 {
    margin-bottom: 10px;
    color: var(--cor-destaque);
}

.logos-redes {
    display: flex;
    gap: 30px;

}

footer span {
    width: 100%;
    border: 1px solid var(--branco);
    display: flex;
    margin: 50px 0;
}

.ultimo {
    display: flex;
    justify-content: space-between;
    color: var(--branco);
}

.ultimos nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

